// Define as variaveis das cores 
$color1: #000b76;
$color2: #ff5500;
$color3: #E7008A;

// inserir as cores do Bootstrap
$theme-colors:(
    'color1': $color1,
    'color2': $color2,
    'color3': $color3,
);
//torna  fonta responsiva mas por padrão, vem ativada 
$enable-responve-font-size: true !default;

//ativa a sombra em todos os elementos
$enable-shadows: false !default;

//Para desativar os cantos arrendondados dos elementos
$enable-rounded: true !default;

//Adiciona as cores ao degradê
$enable-gradients: false !default;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

